openai==1.55.3
langchain==0.3.7
streamlit==1.39.0
streamlit_chat==0.1.1
firebase_admin==6.6.0
credentials==1.1
firestore==0.0.8
datetime==5.5
pytz==2024.2
pysqlite3-binary==0.5.4
chromadb==0.5.18
langchain_community
tiktoken==0.8.0
protobuf==3.20.3

